<section  id="item{{ .el.itemType }}{{ .el.identifier }}" class="auctionItem attention {{ .el.shout }}">
	<img src="/images/{{ .el.itemType }}/{{ .el.identifier }}.jpg" loading="lazy" />
	<div class="price">
		{{ if eq "auction" .el.itemType }}
			<div class="amount silentItem">$</div>
			<div class="estimate"><a href="#item{{ .el.itemType }}{{ .el.identifier }}" class="permalink">Silent Auction #{{ add .index 1 }}</a></div>
		{{ else }}
			<div class="amount raffleItem">&nbsp;</div>
			<div class="estimate"><a href="#item{{ .el.itemType }}{{ .el.identifier }}" class="permalink">Raffle #{{ add .index 1 }}</a></div>
		{{ end }}
	</div>
	<div class="desc">
		<h7>{{ .el.name }}</h7>
		<p>{{ .el.body | safeHTML }}</p>
	
	</div>
</section>


  <meta property="og:type" content="website">
  <meta property="og:image:width" content="800">
  <meta property="og:title" content="CES 2022 Auction: {{ .el.name }}">
  <meta property="og:url" content="{{ .Params.fullUrl }}#item{{ .el.itemType }}">
  <meta property="og:image" content="{{ .Params.fullUrl }}/images/{{ .el.itemType }}/{{ .el.identifier }}.jpg">
  <meta property="og:description" content="{{ .el.body | safeHTML }}">