<section  id="item{{ .el.itemType }}{{ .el.identifier }}" class="auctionItem attention {{ .el.shout }}">
	<img src="/images/{{ .el.itemType }}/{{ .el.identifier }}.jpg" loading="lazy" />
	<div class="price">
		{{ if eq "auction" .el.itemType }}
			<div class="amount silentItem">$</div>
			<div class="estimate">Silent Auction #{{ add .index 1 }}</div>
		{{ else }}
			<div class="amount raffleItem">&nbsp;</div>
			<div class="estimate">Raffle #{{ add .index 1 }}</div>
		{{ end }}
	</div>
	<div class="desc">
		<h7>{{ .el.name }}</h7>
		<p>{{ .el.body | safeHTML }}</p>
	
	</div>
</section>