<section  id="item{{ .itemType }}{{ .identifier }}" class="auctionItem attention {{ .shout }}">
	<img src="/images/{{ .itemType }}/{{ .identifier }}.jpg" loading="lazy" />
	<div class="price">
		{{ if eq "auction" .itemType }}
			<div class="amount silentItem">$</div>
			<div class="estimate">Silent Auction</div>
		{{ else }}
			<div class="amount raffleItem">&nbsp;</div>
			<div class="estimate">Raffle</div>
		{{ end }}
	</div>
	<div class="desc">
		<h7>{{ .name }}</h7>
		<p>{{ .body | safeHTML }}</p>
	
	</div>
</section>