<div class="hero">

	<div class='ticket'>
		<svg class="ticket_cutout">
			<mask id='m' fill='#fff'>
				<rect id='b' width='100%' height='100%'/>
				<circle id="c" class='circle_cutout' r='50' fill='#000'/>
				<use xlink:href='#c' x='100%'/>
				<use xlink:href='#c' y='100%'/>
				<use xlink:href='#c' x='100%' y='100%'/>
			</mask>
			<use xlink:href='#b' mask='url(#m)'/>
		</svg>

		<div class="inner_ticket">
			<div class="tents">
				<ul class="presenting">
					<li><b class="lightBlue">★</b> GAMES <b class="m_letter">&</b> PRIZES <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> DESSERT WALK <b class="red">■</b></li>
					<li><b class="lightBlue">★</b> AUCTION <b class="m_letter">&</b> RAFFLE <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> BINGO<b class="red">■</b></li>
				</ul>
				<div class="shoutout">
					<h2>= SPRING 2022 =</h2>
				    <h1><span class="xl_letter">C</span><span class="l_letter">A</span>RNIV<span class="l_letter">A</span><span class="xl_letter">L</span></h1>
				</div>
				<ul class="presenting inverse left">
					<li class="smallerFont"><b class="red">■</b> BOUNCE HOUSE <b class="red">■</b></li>
					<li><b class="lightBlue">★</b>  FACE PAINT <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> FOOD <b class="m_letter">&</b> DRINK <b class="red">■</b></li>
					<li><b class="lightBlue">★</b> BALLOON ANIMALS <b class="lightBlue">★</b></li>
				</ul>
			</div>
			<div class="details ">
					<h3>
						APRIL 29<b class="s_letter">th</b> 
						<span class="lightBlue">//</span> 
						5:00<b class="s_letter">pm</b> - 7:30<b class="s_letter">pm</b> 
						<span class="lightBlue pricingSlash">//</span> 
						<span class="pricing">$10 <span class="s_letter">per child <span class="pricingMax">(max $30)</span></span></span>
					</h3>
					<p>
						<span>Entry @ West School Entrance. Adults & Children under 2 get in free. Max $30 per family.</span>
					</p>
				</div>
		</div>

	</div>

</div>

<div class="content">

	<div class="leftGrid">

		<section class="carnivalInfo needToKnow">
			<h6>
				<b class="lightBlue">★</b> NEED TO KNOW <b class="lightBlue">★</b>
			</h6>
			<p>See our <a href="">Food & Attractions</a> for menus, prices, important times & things to do. Entry at <a href="">West School Entrance</a>. Adults and Children under 2 get in free. Max $30 per family for entry. Cash & Credit accepted. 100% of proceeds benefit the school and children. <a href="">Donations</a> welcome!</p>
		</section>

		<section class="carnivalInfo proceeds">
			<h6>
				<b class="lightBlue">★</b> How are the proceeds used? <b class="lightBlue">★</b>
			</h6>
			<p>All funds raised from this event will directly benefit your kids and the school. HSO pays for field trips, classroom improvements, teacher appreciation, and much more. Completely run by volunteers, HSO has no overhead. 100% of profits will be used to improve Colwich Elementary School.</p>
		</section>

		<section class="carnivalInfo mainSponsors" style="display:none;">
			<h6>
				<b class="red">■</b> Amazing Sponsors <b class="red">■</b>
			</h6>
			{{ partial "sponsorlist.html" . }}
		</section>

		<section class="carnivalInfo carnivalAttractions">
			<div class="grid">
				<div class="grid__col grid__col--2-of-3 games">
					<h7 class="first">Games & Activites</h7>
					<p class="activities">Bean Bag Toss <span class="lightBlue">//</span> Spin The Wheel <span class="lightBlue">//</span> Plinko <span class="lightBlue">//</span> Balloon Pop <span class="lightBlue">//</span> Pop Toss <span class="lightBlue">//</span> Bounce House <span class="lightBlue">//</span>Face Painting <span class="lightBlue">//</span> Balloon Animals <span class="lightBlue">//</span> Duck Pond</p>
					<p class="detailCallout" ><span>Tickets redeemed in prize room.</span></p>
					<h7>Times</h7>
					<div class="menuItem">
						<span class="itemTitle">Bingo</span>
						<span class="dots"></span>
						<span class="itemValue">5:30, 6:00, 6:30, 7:00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Raffle</span>
						<span class="dots"></span>
						<span class="itemValue">Winner drawn at 7:20pm</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Silent Auction</span>
						<span class="dots"></span>
						<span class="itemValue">Ends at 7:20pm</span>
					</div>
					<p class="detailCallout" ><span>Max 30 people per Bingo. Winners do not need to be present for raffle or auction.</span></p>
				</div>
				<div class="grid__col grid__col--1-of-3 games">
					<h7 class="foodHeader">Food & Drinks</h7>
					<div class="menuItem">
						<span class="itemTitle">Water or Soda</span>
						<span class="dots"></span>
						<span class="itemValue">$1.00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Hot Dog</span>
						<span class="dots"></span>
						<span class="itemValue">$2.00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Nachos</span>
						<span class="dots"></span>
						<span class="itemValue">$2.00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Cotton Candy</span>
						<span class="dots"></span>
						<span class="itemValue">$2.00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Pickle</span>
						<span class="dots"></span>
						<span class="itemValue">$1.00</span>
					</div>
					<div class="menuItem">
						<span class="itemTitle">Candy</span>
						<span class="dots"></span>
						<span class="itemValue">$1.00</span>
					</div>
					
					<div class="deal">
						<h7>Meal Deal</h7>
						<p>Hot Dog, Chips & Drink for <b><u>$4.00</u></b></p>
					</div>
				</div>
			</div>
		</section>

		<section class="carnivalInfo parking">
			<h6>
				<b class="lightBlue">★</b> Where do I park? <b class="lightBlue">★</b>
			</h6>
			<p>Carnival will take place in Colwich Elementary School located at 401. S Marion St. Entry will be on the West side of the building where the pre-school classrooms are located. Parking will be available in that area. For more information, have a <a href="">look at our Carnival Map</a>.
			<img src="/images/testmap.png" height="500px" />
			</p>
		</section>

		<section class="carnivalInfo paymentTypes">
			<h6>
				<b class="red">■</b> Which payment types are accepted? <b class="red">■</b>
			</h6>
			<p>Cash & Credit Cards will be accepted at the entrance, concessions, and raffle / auction table. Entry is $10 per child. The maximum amount that one family will pay for entry is $30. Adults and children under 2 get free entry. </p>
		</section>

	</div>

	<div class="rightGrid">

		<section class="carnivalInfo mainSponsors" >
			<h6>
				<b class="red">■</b> Amazing Sponsors <b class="red">■</b>
			</h6>
			{{ partial "sponsorlist.html" . }}
		</section>

		<section class="carnivalInfo thanksTo">
			<h6>
				<b class="red">■</b> With Thanks To <b class="red">■</b>
			</h6>
			<div class="logos">
					<div class="sponsorLogo fullSponsor ">
						{{ partial "thanksto.html" . }}
					</div>
				</div>
		</section>
	</div>
</div>

<div class="footer">
	<img src="/images/logos/hsocarnival.png" />
  <a target="_blank" data-url="https://square.link/u/PdHM3fyJ?src=embd" href="https://square.link/u/PdHM3fyJ?src=embed" style="
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    color: #000000;
    min-width: 212px;
    background-color: #FFF3D9;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 6px;
  ">Donate</a>
 
</div>
