<div class="hero">

	<div class='ticket'>
		<svg class="ticket_cutout">
			<mask id='m' fill='#fff'>
				<rect id='b' width='100%' height='100%'/>
				<circle id="c" class='circle_cutout' r='50' fill='#000'/>
				<use xlink:href='#c' x='100%'/>
				<use xlink:href='#c' y='100%'/>
				<use xlink:href='#c' x='100%' y='100%'/>
			</mask>
			<use xlink:href='#b' mask='url(#m)'/>
		</svg>

		<div class="inner_ticket">
			<div class="tents">
				<ul class="presenting">
					<li><b class="lightBlue">★</b> GAMES <b class="m_letter">&</b> PRIZES <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> DESSERT WALK <b class="red">■</b></li>
					<li><b class="lightBlue">★</b> AUCTION <b class="m_letter">&</b> RAFFLE <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> BINGO<b class="red">■</b></li>
				</ul>
				<div class="shoutout">
					<h2>= SPRING 2022 =</h2>
				    <h1><span class="xl_letter">C</span><span class="l_letter">A</span>RNIV<span class="l_letter">A</span><span class="xl_letter">L</span></h1>
				</div>
				<ul class="presenting inverse left">
					<li class="smallerFont"><b class="red">■</b> BOUNCE HOUSE <b class="red">■</b></li>
					<li><b class="lightBlue">★</b>  FACE PAINT <b class="lightBlue">★</b></li>
					<li class="smallerFont"><b class="red">■</b> FOOD <b class="m_letter">&</b> DRINK <b class="red">■</b></li>
					<li><b class="lightBlue">★</b> BALLOON ANIMALS <b class="lightBlue">★</b></li>
				</ul>
				<!--<div class="grid presents">
				  <div class="grid__col grid__col--1-of-3 attractions">
				    <p class=""><span><b class="lightBlue">★</b> GAMES <b class="m_letter">&</b> PRIZES <b class="lightBlue">★</b></span></p>
				    <p style="font-size: 50%;"><b class="red">■</b> DESSERT WALK <b class="red">■</b></p>
				    <p class=""><b class="lightBlue">★</b> AUCTION <b class="m_letter">&</b> RAFFLE <b class="lightBlue">★</b></p>
				    <p style="font-size: 50%;"><b class="red">■</b> BINGO<b class="red">■</b></p>
				  </div>
				    <div class="grid__col grid__col--1-of-3">
				    	<h2>= SPRING 2022 =</h2>
				    	<h1><b class="xl_letter">C</b><b class="l_letter">A</b>RNIV<b class="l_letter">A</b><b class="xl_letter">L</b></h1>
				  </div>
				   <div class="grid__col grid__col--1-of-3 attractions inverse">
				    <p style="font-size: 50%;"><b class="red">■</b> BOUNCE HOUSE <b class="red">■</b></p>
				    <p class=""><b class="lightBlue">★</b>  FACE PAINT <b class="lightBlue">★</b></p>
				     <p style="font-size: 50%;"><b class="red">■</b> FOOD <b class="m_letter">&</b> DRINK <b class="red">■</b></p>
				    <p ><b class="lightBlue">★</b> BALLOON ANIMALS <b class="lightBlue">★</b></p>
				  </div>
				</div>
				<div class="details ">
					<h3>APRIL 29<b class="s_letter">th</b> <span class="lightBlue">//</span> 5:00<b class="s_letter">pm</b> - 7:30<b class="s_letter">pm</b> <span class="lightBlue">//</span> <span class="pricing">$10 <b class="s_letter">per child</b></span></h3>
					<p><span>Entry @ West School Entrance. Adults & Children under 2 get in free. Max $30 per family for entry.</span></p>
				</div>-->
			</div>
			<div class="details ">
					<h3>
						APRIL 29<b class="s_letter">th</b> 
						<span class="lightBlue">//</span> 
						5:00<b class="s_letter">pm</b> - 7:30<b class="s_letter">pm</b> 
						<span class="lightBlue pricingSlash">//</span> 
						<span class="pricing">$10 <span class="s_letter">per child <span class="pricingMax">(max $30)</span></span></span>
					</h3>
					<!--<p>
						<span>Entry @ West School Entrance. Adults & Children under 2 get in free.</span>
					</p>-->
				</div>
		</div>

	</div>

</div>

<div class="content">

	<h6 class="needToKnow">
		<b class="lightBlue">★</b> NEED TO KNOW <b class="lightBlue">★</b>
	</h6>
	<p class="needToKnow">See our <a href="">Food & Attractions</a> for menus, prices, important times & things to do. Entry at <a href="">West School Entrance</a>. Adults and Children under 2 get in free. Max $30 per family for entry. Cash & Credit accepted. 100% of proceeds benefit the school and children. <a href="">Donations</a> welcome!</p>

	<h6>
		<b class="red">■</b> Amazing Sponsors <b class="red">■</b>
	</h6>
</div>

<!--<div class="content">
	<div class="grid" name="content">
		<div class="grid__col grid__col--1-of-2 faqs">
			<h6><b class="lightBlue">★</b> How are the proceeds used? <b class="lightBlue">★</b></h6>
			<p>All funds raised from this event will directly benefit your kids and the school. HSO pays for field trips, classroom improvements, teacher appreciation, and much more. Completely run by volunteers, HSO has no overhead. 100% of profits will be used to improve Colwich Elementary School.</p>
			<div class="carnivalAttractions">
				<div class="grid">
					<div class="grid__col grid__col--2-of-3 games">
						<h7>Games & Activites</h7>
						<p>Bean Bag Toss <span class="lightBlue">//</span> Spin The Wheel <span class="lightBlue">//</span> Plinko <span class="lightBlue">//</span> Balloon Pop <span class="lightBlue">//</span> Pop Toss <span class="lightBlue">//</span> Bounce House <span class="lightBlue">//</span>Face Painting <span class="lightBlue">//</span> Balloon Animals <span class="lightBlue">//</span> Duck Pond</p>
						<p class="detailCallout" ><span>Tickets redeemed in prize room.</span></p>
						<h7>Times</h7>
						<p class="lineItem">Bingo</span><span class="dots"></span><span class="lineValue">5:30, 6:00, 6:30, 7:00. Max 30/game.</p>
						<p class="lineItem">Raffle</span><span class="dots"></span><span class="lineValue">Drawn at 7:20, winner at 7:30. Don't needto be present.</p>
						<p class="lineItem">Auction</span><span class="dots"></span><span class="lineValue">Ends at 7:15, winners at 7:30.</p>
					</div>
					<div class="grid__col grid__col--1-of-3 games">
						<h7>Food & Drinks</h7>
						<p class="lineItem">Water or Soda</span><span class="dots"></span><span class="lineValue">$1.00</p>
						<p class="lineItem">Hot Dog</span><span class="dots"></span><span class="lineValue">$2.00</p>
						<p class="lineItem">Nachos</span><span class="dots"></span><span class="lineValue">$2.00</p>
						<p class="lineItem">Cotton Candy</span><span class="dots"></span><span class="lineValue">$2.00</p>
						<p class="lineItem">Pickle</span><span class="dots"></span><span class="lineValue">$1.00</p>
						<p class="lineItem">Candy</span><span class="dots"></span><span class="lineValue">$1.00</p>
						<div class="deal">
							<h7>Meal Deal</h7>
							<p>Hot Dog, Chips & Drink for $4.00.</p>
						</div>
					</div>
				</div>
			</div>
			<h6><b class="lightBlue">★</b> Where do I park? <b class="lightBlue">★</b></h6>
			<p>Carnival will take place in Colwich Elementary School located at 401. S Marion St. Entry will be on the West side of the building where the pre-school classrooms are located. Parking will be available in that area. For more information, have a <a href="">look at our Carnival Map</a>.
			<img src="/images/testmap.png" height="500px" /></p>
		</div>
		<div class="grid__col grid__col--1-of-2 sponsors">
			<h6>= AMAZING SPONSERS =</h6>
			<p>Please support our generous donors!</p>
			<div class="logos">
				<div class="sponsorLogo cushman  doubleSponsor">&nbsp;</div>
				<div class="sponsorLogo littlestars">&nbsp;</div>
				<div class="sponsorLogo icm ">&nbsp;</div>
				<div class="sponsorLogo multicrete ">&nbsp;</div>
				<div class="sponsorLogo gmac ">&nbsp;</div>
				<div class="sponsorLogo lionsclub ">&nbsp;</div>
				<div class="sponsorLogo cmc ">&nbsp;</div>
				<div class="sponsorLogo ckmedical">&nbsp;</div>
				<div class="sponsorLogo bell ">&nbsp;</div>
				<div class="sponsorLogo wulfast ">&nbsp;</div>
				<div class="sponsorLogo css ">&nbsp;</div>
				<div class="sponsorLogo fullSponsor ">
					<ul>
						<li><a href="">Wichita Art Museum</a></li>
						<li><a href="">Powell Jewelry</a></li>
						<li><a href="">Hand & Stone</a></li>
						<li><a href="">Color Me Mine</a></li>
						<li><a href="">Thunder Hockey</a></li> 
						<li><a href="">AHS Booster Club</a></li>
						<li><a href="">Andale Hight School</a></li>
						<li><a href="">Legacy Bank</a></li>
						<li><a href="">MOLbell Boutique</a></li>
						<li><a href="">Urban Air</a></li>
						<li><a href="">Sports Clips</a></li>
						<li><a href="">Norwex</a></li>
						<li><a href="">All Star Sports</a></li>
						<li><a href="">Andale Ready Mix</a></li>
						<li><a href="">Vision Homes</a></li>
						<li><a href="">AutoZone</a></li>
						<li><a href="">Freddy's</a></li>
						<li><a href="">Exploration Place</a></li>
						<li><a href="">Kansas City Zoo</a></li>
						<li><a href="">Buffalo Wild Wings</a></li>
						<li><a href="">Barn'rds</a></li>
						<li><a href="">Dairy Queen</a></li>
						<li><a href="">Ace Hardware</a></li>
						<li><a href="">Chick-Fil-A</a></li>
						<li><a href="">Sam's Club</a></li>
						<li><a href="">Drury Hotel</a></li>
						<li><a href="">Nova Shae Boutique</a></li>
						<li><a href="">Wichita Wind Surge</a></li>
						<li><a href="">Abuelo's</a></li>
						<li><a href="">Homegrown</a></li>
						<li><a href="">Kansas City Cheifs</a></li>
						<li><a href="">Hector Rios Optometry </a></li>
						<li><a href="">Exploration Place</a></li>
						<li><a href="">Pinot's Palette</a></li>
						<li><a href="">Kansas City Zoo</a></li>
						<li><a href="">Andale Pool</a></li>
						<li><a href="">New Dimensions Hair Designs</a></li>
						<li><a href="">Wichita State Athletics</a></li>
						<li><a href="">Rustic Starr Mercantile</a></li>
						<li><a href="">Spangenberg Phillips Tice, LLC</a></li>
						<li><a href="">All Star Sports</a></li>
						<li><a href="">Kraus Grocery</a></li>
						<li><a href="">Stan & Wanda Gegen</a></li>
						<li><a href="">Tanganyika Wildlife Park</a></li>
						<li><a href="">Jeff Ast - Ast Mowing</a></li>
						<li><a href="">Terri Whitley Photography</a></li>
						<li><a href="">Amanda & Ryan Campbell</a></li>
						<li><a href="">Danielle Studios</a></li>
						<li><a href="">Progressions Salon & Day Spa</a></li>
						<li><a href="">Little Stars Therapy Services</a></li>
						<li><a href="">Airstrike</a></li>
						<li><a href="">Sedgwick County Zoo</a></li>
						<li><a href="">Simply Sunday Cakes LLC</a></li>
						<li><a href="">Gambino's</a></li>
					</ul>
				</div>
			</div>
			<div class="faqs">
			<h6><b class="red">■</b> Which payment types are accepted? <b class="red">■</b></h6>
			<p>Cash & Credit Cards will be accepted at the entrance, concessions, and raffle / auction table. Entry is $10 per child. The maximum amount that one family will pay for entry is $30. Adults and children under 2 get free entry. </p>
		</div>
		</div>
	</div>
</div>

<div class="footer">
	<img src="/images/logos/hsocarnival.png" height="200px" />
  <a target="_blank" data-url="https://square.link/u/PdHM3fyJ?src=embd" href="https://square.link/u/PdHM3fyJ?src=embed" style="
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    color: #000000;
    min-width: 212px;
    background-color: #FFF3D9;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 6px;
  ">Donate</a>
 
</div>-->
