{{ partial "hero.html" . }}

{{ $pageParams := .Params }}

{{ range $key, $value := .Params.modules }}

	{{ range where $.Site.Pages ".Params.id" $value }}

		{{ $type := .Params.module_type }}

		{{ .Scratch.Set "first" "" }}
		{{ if and (eq $key 0) (not $pageParams.formEmbed) }}
 			{{ .Scratch.Set "first" "first" }}
		{{ end }}

		{{ if (eq $type "imagegroup") }}

		<section id="section{{ $key }}" class="module {{ .Params.module_type }} altBG {{ .Scratch.Get "first"  }} {{ $pageParams.custom_class }}">

		{{ else }}

		<section id="section{{ $key }}" class="module {{ .Params.module_type }} {{ .Scratch.Get "first"  }} {{ $pageParams.custom_class }}">

		{{ end }}

			<div class="content">

				{{ if .Params.has_header }}
					<h2>{{ .Params.title }}</h2>
					<h3>{{ .Params.subtitle }}</h3>
				{{ end }}

				{{ if (eq $type "featured_image") }}
				    {{ partial "modules/featured_image.html" (dict "page" $pageParams ) }}
				{{ end }}

				{{ if eq $type "faq"}}
					{{ $faqs := where (where .Site.Pages "Type" "faq") ".Params.faq_category" $pageParams.faq_category }}
					{{ partial "modules/faq.html" (dict "faqs" $faqs) }}
				{{ end }}

				{{ if (eq $type "imagegroup") }}
				    {{ partial "modules/imagegroup.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "donate") }}
				    {{ partial "modules/donate.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "calendar") }}
				    {{ partial "modules/calendar.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "calendar_full") }}
				    {{ partial "modules/calendar_full.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "meeting_list") }}
				    {{ partial "modules/meetings.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "sponsors") }}
				    {{ partial "modules/sponsors.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "minutes") }}
				    {{ partial "modules/minutes.html" (dict "module" . ) }}
				{{ end }}

				{{ if (eq $type "footer") }}
				    {{ partial "modules/footer.html" (dict "module" . ) }}
				{{ end }}

			</div>

		</section>
		
	{{ end }}
{{ end }}