<section class="module hero blueBubble">

	{{ partial "modules/navigation.html" . }}

	<div class="content">
		<p><b>Colwich HSO</b></p>
		<h1>Show Your Support For Colwich Elementary School</h1>
		<p>The main way to get involved is to sync our calendar of events, which will keep you updated on all upcoming HSO activities.</p>
		<div class="callToAction">
			<a href="/" class="primary button">Download Our 2022-2023 Calendar</a>
		</div>
		
	</div>
</section>

<img class="heroImg" src="/images/ces.jpeg" />