<section class="module hero {{ .Params.custom_class }}">

	{{ partial "modules/navigation.html" . }}

	<div class="content">

		{{ if eq .Params.page_status "comingsoon" }}

			<p><b>Coming Soon</b></p>
			<h1>{{ .Params.title }}</h1>
			<p class="summary"><mark>We're still ironing out the details for this page. Check back soon!</mark></p>

		{{ else if and (.Params.event_date) (ne .Params.type "pastevents") }}

			<p><b>{{ dateFormat "January 2" .Params.event_date }}</b></p>
			<h1>{{ .Params.title }}</h1>
			<p class="summary"><mark>{{ .Content | safeHTML }}</mark></p>

		{{ else }}

			<p><b>{{ .Params.subtitle }}</b></p>
			<h1>{{ .Params.shoutout | safeHTML }} {{ if .Params.shoutout_icon }}<img src="{{ .Params.shoutout_icon }}" alt="Shoutout Icon"  />{{ end }}</h1>
			<p class="summary"><mark>{{ .Params.overview | markdownify }}</mark></p>

		{{ end }}

		{{ if eq .Params.page_status "comingsoon" }}

			<div class="callToAction">
				{{ partial "button.html"  (dict "link" "#section1" "class" "primary" "icon" .Params.ctaicon "text" "Learn More") }}
			</div>

		{{ else }}

		{{ if .Params.ctatext }}
			<div class="callToAction">
				{{ .Scratch.Set "link" .Params.ctalink }}
				{{ .Scratch.Set "tracking" false }}
				{{ if eq .Params.ctalink "calendar" }}
 					{{ .Scratch.Set "link" $.Site.Params.calendarURL }}
 					{{ .Scratch.Set "tracking" true }}
				{{ end }}
				{{ partial "button.html"  (dict "link" (.Scratch.Get "link") "tracking" (.Scratch.Get "tracking") "class" "primary" "icon" .Params.ctaicon "text" .Params.ctatext) }}
			</div>
			{{ if .Params.learn_link }}
			 <div class="more">or <a href="{{ .Params.learn_link }}" class="highlighter">Learn More</a></div>
			{{ else }}
			<div class="more">or <a href="#section1" class="highlighter">Learn More</a></div>
			{{ end }}
		{{ end }}

		{{ end }}
		
	</div>
</section>


{{ if .Params.formEmbed }}
	{{ partial "modules/wufoo.html" . }}
{{ end }}