<section class="module hero blueBubble">

	{{ partial "modules/navigation.html" . }}

	<div class="content">
		{{ if .Params.event_date }}

		<p><b>{{ dateFormat "January 1 at 3:00PM" .Params.event_date }}</b></p>
		<h1>{{ .Params.title }}</h1>
		<p>{{ .Params.description }}</p>

		{{ else }}

		<p><b>{{ .Params.subtitle }}</b></p>
		<h1>{{ .Params.shoutout }}</h1>
		<p>{{ .Params.overview }}</p>

		{{ end }}
		{{ if .Params.ctatext }}
			<div class="callToAction">
				<a href="{{ .Params.ctalink }}" class="primary button">{{ .Params.ctatext }}</a> <span class="more">or <a href="">Learn More</a></span>
			</div>
		{{ end }}
		
	</div>
</section>


{{ if .Params.formEmbed }}
	{{ partial "modules/wufoo.html" . }}
{{ end }}