<div class="logos">
		<div class="sponsorLogo cushman  doubleSponsor triggerMe">&nbsp;</div>
		<div class="sponsorLogo littlestars triggerMe">&nbsp;</div>
		<div class="sponsorLogo icm triggerMe">&nbsp;</div>
		<div class="sponsorLogo multicrete triggerMe">&nbsp;</div>
		<div class="sponsorLogo gmac triggerMe">&nbsp;</div>
		<div class="sponsorLogo lionsclub triggerMe">&nbsp;</div>
		<div class="sponsorLogo cmc triggerMe">&nbsp;</div>
		<div class="sponsorLogo ckmedical triggerMe">&nbsp;</div>
		<div class="sponsorLogo bell triggerMe">&nbsp;</div>
		<div class="sponsorLogo wulfast triggerMe">&nbsp;</div>
		<div class="sponsorLogo css triggerMe">&nbsp;</div>
</div>