<div class="logos">
		<div class="sponsorLogo cushman  doubleSponsor">&nbsp;</div>
		<div class="sponsorLogo littlestars">&nbsp;</div>
		<div class="sponsorLogo icm ">&nbsp;</div>
		<div class="sponsorLogo multicrete ">&nbsp;</div>
		<div class="sponsorLogo gmac ">&nbsp;</div>
		<div class="sponsorLogo lionsclub ">&nbsp;</div>
		<div class="sponsorLogo cmc ">&nbsp;</div>
		<div class="sponsorLogo ckmedical">&nbsp;</div>
		<div class="sponsorLogo bell ">&nbsp;</div>
		<div class="sponsorLogo wulfast ">&nbsp;</div>
		<div class="sponsorLogo css ">&nbsp;</div>
</div>