<div class="logos">
		<a href="https://www.cushmanwakefield.com/en/united-states" class="sponsorLogo cushman  doubleSponsor triggerMe">&nbsp;</a>
		<a href="https://www.littlestarstherapyks.com" class="sponsorLogo littlestars triggerMe">&nbsp;</a>
		<a href="https://icminc.com" class="sponsorLogo icm triggerMe">&nbsp;</a>
		<a href="https://multicon.build/" class="sponsorLogo multicrete triggerMe">&nbsp;</a>
		<a href="https://www.facebook.com/people/G-MAC-Construction-Inc/100057261498064/" class="sponsorLogo gmac triggerMe">&nbsp;</a>
		<a href="https://e-clubhouse.org/sites/colwichks/" class="sponsorLogo lionsclub triggerMe">&nbsp;</a>
		<a href="https://cornejocorp.com/ready-mix/" class="sponsorLogo cmc triggerMe">&nbsp;</a>
		<a href="https://ckmedicalstaffing.com" class="sponsorLogo ckmedical triggerMe">&nbsp;</a>
		<a href="https://wichita.abbeycarpet.com" class="sponsorLogo bell triggerMe">&nbsp;</a>
		<a href="https://www.wulfastmortuary.com" class="sponsorLogo wulfast triggerMe">&nbsp;</a>
		<a href="http://www.cssprint.com" class="sponsorLogo css triggerMe">&nbsp;</a>
</div>