.wufoo .info h2 {
	display: none;
}

form.wufoo  {
	padding: 30px !important;
	font-family: 'rubik', serif !important;
}

@font-face {
    font-family: 'rubik';
    src: url('https://colwichhso.com/fonts/Rubik/static/Rubik-Regular.ttf');
}


@font-face {
    font-family: 'rubik';
    src: url('https://colwichhso.com/fonts/Rubik/static/Rubik-Bold.ttf');
    font-weight: bold;
}

.wufoo .buttons #saveForm {
	border-radius: 4px;
	margin: 10px;
	text-decoration: none;
	display: inline-block;
	background-color: #A62C2E;
	color: #fff;
	line-height: 20px;
	font-weight: bold;
	box-shadow: 0 15px 60px rgba(62,62,62,.102);
	border: 1px solid #000;
	font-size: 100%;
	width: 300px;
	margin: 0 auto;

}