/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
background-color: #F6F6F6 !important;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 1800'%3E%3Cdefs%3E%3Cpath id='a' fill='%23FFF' fill-opacity='.7' d='M4002.8.3C3620.4 14 3647 280.9 3371.4 340.6s-433.8-225-723.3-111.8-339.6 465.3-489.3 557.8c-149.7 92.5-562.5-20.8-728.1 120.4s-111.8 539.2-238.8 700.2-555.5 132.2-679.3 353.4c-123.9 221.2 108.6 547.6 38.2 762.1S48 3037.7 10.9 3286.3s307.8 453.1 316.8 713.7S-60.6 4385.1 8 4698.2s414.7 262.9 537.9 565.7c123.2 302.8-228 480.4-36 771s456.2 107.4 673 347 18.8 538 247.8 711.1c229 173.1 443.6-30.5 728.1 120.4s143.1 452.9 483 555.6 409.8-153.1 715.8-112c306 41.1 329.7 354.2 645.2 342.7s302.7-293.2 631.4-340.3c328.7-47.1 496 198.7 723.3 111.8s343.6-468.3 477.1-550.7c133.6-82.5 566.4 21.2 735.6-123.8 169.2-145 110.8-536.1 243.5-704 132.6-167.8 557.7-136.8 679.3-353.4s-99.6-579.6-38.2-762.1c61.4-182.5 507.3-353.9 539.9-563.6 32.6-209.7-311.2-506.8-316.8-713.7-5.7-206.8 358.7-509.6 319-701.6-39.7-192-470.7-390.9-537.3-562.3-66.6-171.4 163.6-571.8 36-771-127.6-199.2-504.6-179.3-661-345.2s-7-522.6-259.8-712.8-519-4.7-740.2-127.3-197.7-463.1-470.8-548.7-534.7 88.1-719.4 55S4290-10 4002.8.3z' /%3E%3C/defs%3E%3Cg transform='translate(0 1080)' %3E%3Cg transform='translate(-2500 200) scale(1 .4)' stroke='%23FFF' stroke-width='1'%3E%3Cg%3E%3Cuse href='%23a' y='-100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='52s' begin='-17s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='-100' y='150'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-5s' dur='48.3s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='50' y='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='44.7s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-14s' dur='40.9s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='56s' values='360 4000 4000%3B0 4000 4000'%3E%3C/animateTransform%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
}

#container {
	border-radius: 5px;
	box-shadow: 0 15px 60px rgba(62,62,62,.102) !important;
	margin: 50px auto;
}

#logo {
	background-image: url("https://colwichhso.com/images/logos/hsonew.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 175px;
	padding-top: 100px;
	border-bottom: none !important;
}


#logo a {
	display: none;
}

form.wufoo  {
	font-family: 'system', serif !important;
	font-size: rem(19px) !important;
	margin-top: 0px !important;

	@media (min-width: 1000px) {
		padding: 30px !important;
    }
}

header {
	display: none !important;
}

h2 {
	margin-top: 0px !important;
}

h3 {
	margin-top: 0px !important;
}

.section div {
	margin-bottom: 20px !important;
}

.wufoo .buttons {
	width: 100%;
	text-align: center;
}

.wufoo .buttons #saveForm {
	border-radius: 4px;
	margin: 10px;
	text-decoration: none;
	display: inline-block;
	background-color: #C93234;
	color: #fff;
	line-height: 20px;
	font-weight: bold;
	box-shadow: 0 15px 60px rgba(62,62,62,.102);
	border: 1px solid #000;
	font-size: 100%;
	float: none;
	font-size: 150%;

   @media (min-width: 1000px) {
        border: 2px solid #000;
    }

}

form.wufoo label span.req, form.wufoo legend span.req {
	color: #C93234 !important;
}

form.wufoo label i, form.wufoo legend i  {
	background-color: #F8F8F8;
	padding: 5px 15px;
	border-radius: 4px;
	color: #585858;
	display: inline-block;
	margin-top: 5px;
}

form.wufoo p.error {
	font-size: 15px;
}

.choice__qty {
	//background-color: #F8F8F8;
	padding: 5px 15px;
	font-size: 80% !important;
	border-radius: 4px;
	color: #000 !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty {
		font-size: 80% !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty .notranslate {
		font-size: 80% !important;
		font-weight: bold;
}