.module.alert .content{
	text-align: center;
	text-wrap: wrap;
	background-color: #FFD7D7;
	padding: 30px;
	border-radius: 4px;
	box-sizing: border-box;
}

.module.alert .content a {
	background-color: #fff;
}

.module.alert {
	padding-bottom: 0px;

	@include contentFor(normal-screen) {
		padding-bottom: 75px;
	}
}