.upcoming {
	@include flex();
	justify-content: center;
	flex-wrap: wrap;
	padding: 0px;
	margin-left: 0px;
}

.upcoming li {
	list-style: none;
	border-radius: 5px;
	box-shadow: 0 15px 60px rgba(62,62,62,.102);
	padding: 20px;
	width: 30%;
	margin: 1%;
	box-sizing: border-box;
}