
/* --------------- CONSTANTS & COLORS ---------------*/

$blueColor : #186363;
$redColor : #D7504A;
$lightTan : #FFF3D9;
$lightestTan : #FFF7E4;
$darkTan : #F2E5C7;
$lightBlue: #82C5B4;
$darkestTan: #BCB196;
$darkTanFont: #6D603F;

.lightBlue {
	color: $lightBlue;
}

.red {
	color: $redColor;
}


/* --------------- HERO / TOP HEADER ---------------*/

body {
	
	width: 100%;

	background-repeat: no-repeat;
	background-size: auto 75%;
	background-position: 50% -50px;

	@include contentFor(normal-screen) {
		background-size: cover;
	}

	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='1667.283' height='832.425' viewBox='0  0  1667.283  832.425'%3E%3Cg id='Layer_1' transform='translate(35.137  11.917)'%3E%3Cpath d='M153.76 -11.917 C156.932 -9.125 159.831 -6.213 163.316 -3.562 C349.996 138.477 536.726 280.495 723.467 422.507 C736.965 432.773 750.585 442.985 764.148 453.224 C764.128 450.696 762.463 448.894 760.623 447.158 C601.828 297.348 443.016 147.544 284.257 -2.279 C281.033 -5.319 276.761 -8.109 276.143 -11.917 L387.887 -11.917 C389.755 -9.86 391.733 -7.834 393.479 -5.742 C513.977 138.719 634.46 283.186 754.946 427.651 C761.841 435.918 768.777 444.174 775.697 452.434 C776.493 450.345 775.672 448.673 774.645 447.045 C689.524 312.076 604.325 177.122 519.325 42.126 C508.02 24.178 495.452 6.487 486.328 -11.917 L582.109 -11.917 C583.104 -9.136 583.912 -6.327 585.122 -3.578 C638.943 118.609 692.792 240.792 746.65 362.972 C759.21 391.468 771.815 419.958 784.395 448.452 C785.796 445.846 785.56 443.403 784.931 440.996 C769.374 381.477 753.765 321.964 738.188 262.447 C721.742 199.611 705.239 136.781 688.923 73.934 C681.5 45.336 674.458 16.702 667.242 -11.917 L755.04 -11.917 C769.041 144.938 783.034 301.794 797.032 458.647 C800.22 451.084 799.708 443.572 800.301 436.088 C804.26 386.23 808.617 336.383 812.524 286.523 C815.719 245.701 818.387 204.863 821.445 164.035 C825.843 105.383 830.379 46.734 834.858 -11.917 L922.655 -11.917 C922.391 -9.357 922.448 -6.773 921.819 -4.245 C909.169 46.659 896.447 97.557 883.717 148.454 C869.074 207.024 854.41 265.591 839.743 324.157 C828.738 368.116 817.717 412.075 806.701 456.033 C808.337 454.414 809.291 452.71 810.038 450.974 C862.28 329.327 914.574 207.69 966.694 86.024 C980.659 53.417 994.108 20.732 1007.793 -11.917 L1103.574 -11.917 C1102.351 -9.439 1101.369 -6.909 1099.874 -4.49 C1018.509 127.144 937.099 258.766 855.706 390.392 C843.016 410.912 830.387 431.44 817.725 451.962 C820.885 450.818 822.261 449.252 823.561 447.665 C932.21 315.383 1040.815 183.091 1149.525 50.829 C1166.775 29.844 1184.504 8.995 1202.014 -11.917 L1313.754 -11.917 C1311.646 -9.646 1309.697 -7.319 1307.399 -5.115 C1167.591 128.768 1027.751 262.64 887.915 396.512 C867.445 416.112 846.979 435.716 826.513 455.317 C830.391 454.192 832.754 452.457 835.045 450.691 C997.211 325.682 1159.332 200.652 1321.563 75.672 C1359.567 46.392 1397.937 17.275 1436.141 -11.917 L1582.47 -11.917 C1578.848 -9.297 1575.465 -6.548 1571.555 -4.081 C1543.86 13.401 1516.052 30.822 1488.289 48.266 C1294.238 170.191 1100.183 292.112 906.14 414.042 C881.682 429.41 857.293 444.815 832.872 460.203 C851.072 452.191 868.042 443.479 885.012 434.772 C1021.218 364.883 1157.411 294.992 1293.625 225.113 C1401.864 169.587 1510.12 114.073 1618.44 58.6 C1621.542 57.011 1624.491 53.801 1629.319 55.401 C1632.888 56.582 1631.292 59.686 1631.3 61.951 C1631.382 83.175 1630.955 104.403 1631.585 125.62 C1631.78 132.126 1627.532 136.004 1618.777 139.646 C1406.465 227.949 1194.319 316.379 982.133 404.785 C934.61 424.586 887.067 444.376 839.532 464.17 C843.385 464.078 846.467 463.205 849.436 462.217 C1026.943 403.102 1204.439 343.975 1381.942 284.856 C1459.722 258.95 1537.505 233.05 1615.321 207.18 C1630.902 201.998 1631.309 202.172 1631.345 212.848 C1631.386 226.048 1630.192 239.296 1631.735 252.434 C1632.917 262.516 1626.667 267.363 1610.802 271.412 C1385.812 328.83 1161.127 386.659 936.38 444.395 C906.181 452.154 876.022 459.962 845.846 467.747 C849.31 468.202 852.238 467.816 855.08 467.281 C1051.608 430.281 1248.128 393.266 1444.652 356.259 C1502.01 345.457 1559.433 334.778 1616.694 323.808 C1627.975 321.647 1631.885 323.161 1631.512 330.163 C1630.886 341.799 1630.403 353.49 1631.67 365.091 C1632.588 373.544 1627.341 376.734 1613.34 378.445 C1386.157 406.214 1159.08 434.279 931.987 462.282 C903.83 465.754 875.68 469.252 847.531 472.738 C876.939 472.078 906.01 470.425 935.049 468.609 C1014.741 463.628 1094.413 458.513 1174.113 453.574 C1245.01 449.181 1315.943 445.019 1386.839 440.64 C1464.339 435.852 1541.822 430.97 1619.297 426.018 C1628.068 425.456 1631.463 427.328 1631.361 432.375 C1631.138 443.761 1630.728 455.167 1631.56 466.535 C1632.092 473.835 1628.133 476.49 1615.114 476.456 C1571.672 476.345 1528.231 476.882 1484.789 477.218 C1351.783 478.251 1218.765 477.439 1085.751 478.752 C1005.738 479.54 925.68 478.896 845.643 478.896 C867.185 481.094 888.76 482.328 910.327 483.623 C966.706 487.006 1023.078 490.45 1079.465 493.805 C1144.222 497.658 1208.999 501.407 1273.76 505.26 C1339.832 509.189 1405.901 513.171 1471.961 517.162 C1520.41 520.088 1568.818 523.248 1617.311 525.887 C1629.087 526.529 1631.914 529.611 1631.52 535.849 C1630.874 546.189 1631.374 556.553 1631.349 566.906 C1631.317 579.256 1631.305 579.251 1610.745 576.748 C1379.209 548.546 1147.682 520.341 916.142 492.154 C893.312 489.373 870.45 486.693 847.6 483.965 C848.49 485.233 849.663 485.616 850.918 485.848 C983.518 510.459 1116.121 535.054 1248.725 559.66 C1371.189 582.384 1493.617 605.181 1616.174 627.737 C1627.098 629.748 1632.125 632.587 1631.613 639.673 C1630.679 652.591 1631.394 665.548 1631.337 678.49 C1631.292 688.785 1630.533 689.04 1614.436 684.936 C1395.111 629.006 1175.778 573.076 956.449 517.151 C919.658 507.772 882.856 498.412 846.057 489.042 C847.332 490.813 849.464 491.672 851.71 492.413 C963.657 529.308 1075.62 566.187 1187.566 603.08 C1331.56 650.534 1475.498 698.044 1619.638 745.347 C1628.726 748.33 1631.727 751.892 1631.536 757.736 C1630.996 774.037 1631.536 790.35 1631.215 806.653 C1631.142 810.334 1634.724 815.561 1628.304 817.364 C1622.143 819.097 1616.69 814.546 1611.464 812.389 C1386.677 719.595 1161.988 626.724 937.27 533.874 C878.632 509.694 904.079 520.178 860.932 502.409 L800 474 L756.82 494.133 C753.485 494.729 750.344 496.023 747.223 497.291 C491.034 603.559 234.846 709.832 -21.359 816.087 C-25.639 817.862 -29.485 820.165 -35.137 820.508 L-35.137 750.622 C206.575 670.648 448.291 590.676 690.003 510.7 C712.333 503.312 734.651 495.911 756.977 488.517 C587.026 531.054 417.843 574.383 248.624 617.657 C154.069 641.837 59.45 665.924 -35.137 690.053 L-35.137 632.593 C-29.81 631.358 -24.583 629.932 -19.134 628.915 C188.845 590.077 396.849 551.278 604.849 512.471 C653.7 503.356 702.546 494.23 752.863 484.833 C750.37 484.489 749.537 484.215 748.835 484.302 C540.405 509.805 331.995 535.366 123.557 560.839 C70.71 567.298 17.762 573.48 -35.137 579.789 L-35.137 528.539 C-13.201 525.005 9.555 525.028 31.934 523.602 C112.483 518.465 193.146 513.947 273.739 509.04 C354.768 504.107 435.751 498.933 516.775 493.973 C595.261 489.168 673.768 484.5 752.266 479.772 C747.324 479.159 742.459 479.158 737.599 479.159 C486.64 479.25 235.682 479.345 -15.276 479.407 C-21.899 479.409 -28.518 479.039 -35.137 478.842 L-35.137 429.146 C-29.862 429.252 -24.551 429.192 -19.304 429.493 C20.337 431.757 59.965 434.09 99.598 436.406 C156.408 439.728 213.214 443.047 270.024 446.381 C327.703 449.768 385.378 453.176 443.056 456.561 C500.739 459.946 558.426 463.306 616.113 466.689 C663.486 469.468 710.855 472.264 758.227 475.053 C754.471 474.129 750.617 473.576 746.735 473.11 C636.596 459.905 526.448 446.703 416.304 433.509 C265.825 415.485 115.342 397.467 -35.137 379.447 L-35.137 325.09 C-28.746 326.123 -22.285 327.037 -15.962 328.206 C222.131 372.208 460.213 416.234 698.299 460.254 C715.955 463.519 733.627 466.748 751.292 469.991 C749.809 468.528 747.885 467.911 745.883 467.405 C528.478 412.38 311.054 357.389 93.678 302.323 C50.634 291.421 7.793 280.237 -35.137 269.182 L-35.137 207.061 C-28.34 207.67 -22.959 210.095 -17.217 211.98 C207.281 285.634 431.735 359.332 656.209 433.014 C687.371 443.242 718.599 453.406 751.076 464.018 C749.273 460.831 745.643 460.21 742.939 459.097 C578.097 391.252 413.186 323.466 248.348 255.619 C153.793 216.702 59.352 177.694 -35.137 138.728 L-35.137 57.969 C-31.974 59.381 -28.669 60.697 -25.664 62.219 C190.518 171.746 406.676 281.289 622.838 390.83 C669.902 414.679 716.97 438.52 764.038 462.364 C763.929 461.037 762.848 460.3 761.707 459.593 C513.953 305.848 266.19 152.109 18.497 -1.67 C13.425 -4.819 6.977 -7.425 4.768 -11.917 L153.76 -11.917 z' fill='%23D7504A'/%3E%3C/g%3E%3C/svg%3E");
}

/* --------------- TICKET SHAPE ---------------*/

.ticket {
	z-index: 2;
	position: relative;
  top: 41%; 
  left: 50%;
  transform: translate(-50%,3%);
	padding: 50px 0px 0px 0px;
	width: 90%;
	height: 500px;
	color: #fff;
	font: 1em trebuchet ms, verdana, sans-serif;

	@include contentFor(mini-screen) {
		height: 650px;
	}

	@include contentFor(normal-screen) {
			height: 80vh;
			max-height: 750px;
			padding: 30px;
	}

	@include contentFor(large-screen) {
			height: 80vh;
			padding: 50px;
			top: 0%;
			transform: translate(-50%,3%);
	}

	@include contentFor(xl-screen) {
			transform: translate(-50%,5%);
	}
}

.inner_ticket  {
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  font-size: 90px;
  line-height: 1.5;
  text-transform: uppercase;
  border-top: 1px dashed $redColor;

  @include contentFor(normal-screen) {
			border-radius: 20px;
  		border: 2px dashed $redColor;
	}
}

.inner_ticket:before,
.inner_ticket:after {
  background-color: $redColor;
  border: 3px solid $lightestTan;
  outline: 1px dashed $redColor;
  color: #FFF;
  display: inline-block;
  font-size: 0.15em;
  left: 50%;
  padding: 5px 30px;
  position: absolute;
  text-align: center;
  @include contentFor(large-screen) {
  	font-size: 15px;
  	outline: 2px dashed $redColor;
  	border: 5px solid $lightestTan;
  }
   @include contentFor(xl-screen) {
  	font-size: 20px;
  }
}

.inner_ticket:before {
  content: "Colwich HSO";
  @include contentFor(mini-screen) {
			content: "COLWICH ELEMENTARY HSO PRESENTS";
	}
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  @include contentFor(normal-screen) {
  	top: 30px;
  }
  @include contentFor(large-screen) {
		top: 50px;
	}
}

.inner_ticket:after {
	@include contentFor(normal-screen) {
		bottom: 30px;
	  content: "LEARN MORE ▼";
	  -webkit-transform: translateX(-50%) translateY(50%);
	  -moz-transform: translateX(-50%) translateY(50%);
	  transform: translateX(-50%) translateY(50%);
  }
  @include contentFor(large-screen) {
		bottom: 50px;
	}
}

svg.ticket_cutout {
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	width: 100%; height: 100%;
}

.circle_cutout {
	r: 20px;
	@include contentFor(tablet-screen) {
		r: 30px;
	}
	@include contentFor(normal-screen) {
		r: 30px;
	}
	@include contentFor(large-screen) {
		r: 50px;
	}
}

[id='m'] + use {
	fill: rgba($lightestTan, 1)
}

/* --------------- HERO LAYOUT SPECIFICS ---------------*/

/// Main container for hero that has the tent as the backgorund
.tents {
	width: 100%;
	height: 80%;
	background-image: url("/images/tents.png");
	background-repeat: no-repeat;
	background-position: 50% 75%;
	background-size: auto 275px;
	@include flex();
	justify-content: center;

	@include contentFor(mini-screen) {
		background-size: auto 400px;
	}

	@include contentFor(normal-screen) {
		background-size: auto 450px;
	}

	@include contentFor(large-screen) {
		background-position: 50% 120%;
		background-size: auto 600px;
	}
}

.tents h1 {
	width: 100%;
	text-align: center;
	font-size: 45%;
	font-weight: normal !important;
	text-shadow: 4px 4px 10px #fff;
	@include contentFor(mini-screen) {
			font-size: 60%;
	}
	@include contentFor(normal-screen) {
			font-size: 70%;
	}
	@include contentFor(large-screen) {
			font-size: 80%;
	}
	@include contentFor(xl-screen) {
			font-size: 90%;
	}
}

.tents h2 {
	text-align: center;
	margin-bottom: -45px;
	font-size: 25%;
	margin-top: 60px !important;
	font-weight: normal !important;

	@include contentFor(mini-screen) {
		font-size: 30%;
	}
	@include contentFor(normal-screen) {
		margin-bottom: -55px;
		font-size: 30%;
		margin-top: 90px !important;
	}
	@include contentFor(xl-screen) {
			font-size: 40%;
	}
}

.details {
	height: 20%;
	text-align: center;
	@include abrilFont();
	margin-top: -30px;

	@include contentFor(normal-screen) {
		//margin-top: 0px;
	}

	@include contentFor(normal-screen) {
		//margin-top: 0px;
	}
}

.details h3 {
	font-size: 25%;
	font-weight: normal !important;
	@include contentFor(mini-screen) {
		font-size: 45%;
	}
	@include contentFor(normal-screen) {
		font-size: 40%;
	}
	@include contentFor(large-screen) {
		font-size: 45%;
	}
	@include contentFor(xl-screen) {
			font-size: 55%;
	}
}

.details p {
	display: none;
	@include contentFor(normal-screen) {
		display: block;
	}
}

.details p span {
	background-color: $darkTan;
	color: $darkTanFont;
	padding: 10px 20px;
	border-radius: 10px;
	@include proseFont();
	font-size: 80%;
	@include contentFor(large-screen) {
			font-size: 100%;
	}
}

.pricing {
	@include circusFont();
	color: $header-alt-color;
	display: block;
	margin-top: 10px;
	font-size: 120%;
	text-shadow: 4px 4px 10px #fff;
	@include contentFor(normal-screen) {
		display: inline;
	}
}

.pricingSlash {
	display: none;
	@include contentFor(normal-screen) {
		display: inline;
	}
}

.pricingMax {
	@include proseFont();
	@include contentFor(normal-screen) {
		display: none;
	}
}

/// These are the callouts left and right of the tent graphic
.presenting {
	display: none;

	@include contentFor(normal-screen) {
		font-size: 20%;
		display: block;
		margin-top: 125px;
		width: 100%;
		text-align: center;
		margin-left: 0px;
		padding-right: 4%;
		color: $blueColor;
		@include abrilFont();
	}

	@include contentFor(large-screen) {
		font-size: 30%;
		padding-right: 7%;
	}

	@include contentFor(xl-screen) {
		font-size: 45%;
	}
}

.presenting.left {
	padding-right: 0px;
	padding-left: 4%;
	@include contentFor(large-screen) {
		padding-left: 7%;
	}

}

.presenting li {
	list-style: none;
	transform: rotate(-25deg);
	text-align: center;
	margin-top: 70px;
	text-shadow: 4px 4px 10px #fff;
	@include contentFor(xl-screen) {
		margin-top: 75px;
	}
}

.presenting.inverse li {
	transform: rotate(25deg);
}

.smallerFont {
	font-size: 90%;
}

.attractions {
	text-align: center;
	margin-top: 140px;
	@include abrilFont();
}

.attractions p {
	line-height: 125px !important;
	color: $blueColor;
	font-size: 40%;
	transform: rotate(-25deg);

	text-shadow: 4px 4px 10px #fff;
}

.inverse p {
	transform: rotate(25deg);
}

.attractions p b {
	text-shadow: none;
}

.attractions p span {
	//background-color: $darkTan;
}

p.tada {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-style: preserve-3d;
}

/* --------------- SITE CONTENT ---------------*/

.needToKnow {
	@include contentFor(normal-screen) {
		display: none;
	}
}

.content h6 {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-size: 120%;
	@include contentFor(normal-screen) {
		font-size: 140%;

	}
}

.content p {
	@include proseFont();
}

h6.needToKnow {
	margin-top: 40px;
}

.content {
	margin: 0px auto 0px auto;
	padding: 0px 5% 75px 5%;
	border-bottom: 2px dashed $redColor;
}

.faqs {
	padding: 100px 50px 0px 50px;
}

.faqs h6 {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-size: 140%;
}

.faqs p {
	@include proseFont();
	font-family: "Trebuchet MS";
	font-weight: bolder;
	color: $darkTanFont;
	font-size: 130%;
	line-height: 2em;
	margin-bottom: 50px;
	padding: 10px 50px;
}

.carnivalAttractions {
	border: 2px dashed $redColor;
	border-radius: 20px;
	display: block;
	position: relative;
	background-color: #FFF7E4;
	padding-bottom: 50px;
}


.carnivalAttractions:before {
	background-color: #D7504A;
  border: 5px solid $darkTan;
  outline: 2px dashed #D7504A;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  left: 50%;
  padding: 5px 30px;
  position: absolute;
  content: "ATTRACTIONS";
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-weight: normal;
  @include proseFont();
}

.carnivalAttractions h7 {
	@include circusFont();
	color: $blueColor;
	text-transform: uppercase;
	border-bottom: 1px dotted $redColor;
	font-size: 120%;
	margin-top: 75px;
	display: inline-block;
}

.games {
	text-align: center;
}


.games p {
	font-weight: normal;
	margin-bottom: 0px;
	padding: 20px;
}

.deal {
	border: 2px solid $redColor;
}

.detailCallout {
	padding: 5px !important;
}

.detailCallout span {
	background-color: $darkTan;
	color: $darkTanFont;
	padding: 10px 20px;
	border-radius: 10px;
	@include proseFont();
}

.dots {
	width: 40px;
	display: inline-block;
	border-bottom: 1px dotted $darkTanFont;
	margin: 0px 5px;
}

.sponsors {
	padding: 100px 0px 0px 0px;
	text-align: center;
	@include circusFont();
}

.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.sponsorLogo {
	background-color: #FFF7E4;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	border-radius: 10px;
	width: 175px;
	height: 175px;
	padding: 10px;
	margin: 10px;
	position: relative;
}

.doubleSponsor {
	width: 390px;
}

.fullSponsor {
	width: 820px;
	@include proseFont();
	height: auto;
	text-align: left;
	padding-bottom: 50px;
}

.fullSponsor ul {
	list-style-type: none;
	padding-left: 1%;
}

.fullSponsor ul li {
	list-style: none;
	width:33%;
  float:left;
}

.fullSponsor ul li a {
	text-decoration: none;
	color: $darkTanFont;
}

.fullSponsor ul li a:hover {
	color: $blueColor;
	text-decoration: underline;
}


.icm {
	background-image: url("/images/logos/icm.png");
}

.multicrete {
	background-image: url("/images/logos/multicrete.png");
}

.littlestars {
	background-image: url("/images/logos/littlestars.png");
}

.gmac {
	background-image: url("/images/logos/gmac.png");
}

.cushman {
	background-image: url("/images/logos/cushman.png");
}

.lionsclub {
	background-image: url("/images/logos/lionsclub.png");
}

.cmc {
	background-image: url("/images/logos/cmc.png");
}

.ckmedical {
	background-image: url("/images/logos/ckmedical.png");
}

.bell {
	background-image: url("/images/logos/bell.png");
}

.wulfast {
	background-image: url("/images/logos/wulfast.png");
}

.css {
	background-image: url("/images/logos/css.png");
}

.footer {
	margin-top: 1px;
	background-color: $redColor;
	padding: 100px;
	text-align: center;
}

.footer img {
	margin: 0px auto;
}