.module.full_image {
	margin-top: 50px;
	padding-bottom: 0px;
	@include contentFor(mini-screen) {
		margin-bottom: -50px;
	}
}

.module.full_image .content {
	width: 100%;
}

.full_image img {
	width: 100%;
	object-fit: contain;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 15px 60px rgba(62,62,62,.102);

	@include contentFor(normal-screen) {
		width: 100%;
		height: auto;
		object-fit: contain;
		object-position: center center;
	}
}