.hero h1 {
	margin: 0 auto;
	width: 900px;
	text-align: center;
	font-size: 350%;
}

.hero h1 img {
    display: inline-block;
    height: 75px;
    margin: 0px 0px -15px;
}

.hero p {
	margin: 0px auto;
	width: 600px;
	text-align: center;
	line-height: 35px;
}

.hero .summary {
	margin-top: 20px;
}

.hero p b {
	margin-top: 50px;
	display: inline-block;
	color: $red;
	font-size: 120%;
	font-weight: bolder;
}

.hero .callToAction {
	width: 600px;
	text-align: center;
	margin: 25px auto 25px auto;
}

.wufooForm {
	margin: -300px auto 0 auto;
	width: 1000px;
	border-radius: 4px;
	border: 20px solid #fff;
	background-color: #fff;
	height: 1000px;
}

.more {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}