.hero h1 {
	margin: 0 auto;
	width: 800px;
	text-align: center;
	font-size: 350%;
}

.hero p {
	margin: 20px auto;
	width: 600px;
	text-align: center;
	line-height: 35px;
}

.hero p b {
	margin-top: 50px;
	display: inline-block;
	color: $darkRed;
	font-size: 120%;
	font-weight: bolder;
}

.hero .callToAction {
	width: 600px;
	text-align: center;
	margin: 25px auto 25px auto;
}

.wufooForm {
	margin: -300px auto 0 auto;
	width: 1000px;
	border-radius: 4px;
	border: 20px solid #fff;
	background-color: #fff;
	height: 1000px;
}

.more {
	display: inline-block;
	margin-left: 20px;
}