header {
	padding: 50px 20px 20px 20px;
	@include flex();
	font-weight: bold;
	position: relative;
	z-index: 1;

	@include contentFor(mini-screen) {

	}

	@include contentFor(normal-screen) {
		padding: 80px 50px 50px 50px;
		justify-content: center;
	}

	@include contentFor(large-screen) {

	}

	@include contentFor(xl-screen) {

	}
}

header .logo {
	width: 50%;
	margin: -30px 0px 0px 0px;


	@include contentFor(mini-screen) {

	}

	@include contentFor(normal-screen) {
	
	}

	@include contentFor(large-screen) {
		width: 12%;
	}

	@include contentFor(xl-screen) {

	}
}

.logo img {
	width: 125px;
	margin: 0px;

	@include contentFor(mini-screen) {
		width: 150px;
	}

	@include contentFor(normal-screen) {
		width: 175px;
	}

	@include contentFor(large-screen) {
		width: 200px;
	}

	@include contentFor(xl-screen) {

	}
}

header .donate {
	width: 10%;
	text-align: right;
	visibility: hidden;
		height: 0px;


	@include contentFor(mini-screen) {

	}

	@include contentFor(normal-screen) {
	
	}

	@include contentFor(large-screen) {
		visibility: visible;
	}

	@include contentFor(xl-screen) {

	}
}

header .nav {
	width: 50%;
	text-align: center;
	font-size: 120%;
	visibility: hidden;
	position: relative;
	z-index: 3;

	@include contentFor(mini-screen) {

	}

	@include contentFor(normal-screen) {
		visibility: visible;
	}

	@include contentFor(large-screen) {
		width: 78%;
	}

	@include contentFor(xl-screen) {

	}
}

ul.nav {
	@include flex();
	justify-content: center;
	margin: 0px;
	width: 100%;
}

ul.nav li {
	list-style: none;
	margin: 0px 20px;
	height: 0px;
}

ul.nav li span {
	font-size: 65%;
	padding-left: 5px;
	color: $gold;
	text-stroke: 2px red;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.donate .button {
	margin-top: -15px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.dropbtn:hover {
	color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 15px 60px rgba(62,62,62,.102);
  z-index: 2;
  background-color: $red;
  border-radius: 4px;
  width: 250px;
  padding: 10px;
  text-align: left;
  margin-left: -62px;
  border: 2px solid #000;
}

.dropdown-content a {
  color: #fff;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.dropdown-content a:hover {background-color: $lightRed; }

.dropdown:hover .dropdown-content {
  display: block;
}

/*-----------------Dropdown Menu---------------*/


nav[role=navigation] {
    @extend %clearfix;
    //overflow: hidden;
    width: 0px;
    @include contentFor(normal-screen) {
    	flex-grow: 5;
        height: 89px;
    }
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform-style: preserve-3d;
}

div.menu-link {
    padding: 1em;
    color: $darkRed;

    @include contentFor(normal-screen) {
        display: none;
    }
}

/*----------------------- Hamburger Functionality ------------------------------ */

/// Credit: https://codepen.io/bradfrost/pen/sHvaz

.firstView {
    animation-name: none !important;
    visibility: hidden !important;
     @include contentFor(normal-screen) {
        visibility: visible !important;
    }
}


// When we want nav to appear, change the height
nav[role=navigation].open {
    margin-bottom: 10px;
    margin-top: 63px;
    width: 100%;
    position: absolute;
    border-bottom: 3px solid $red;
    background-color: #fff;
     -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    @include contentFor(normal-screen) {
        -webkit-animation-name: none;
        animation-name: none;
    }
    visibility: visible;
    //z-index: 5;
}

nav[role=navigation].closed {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
      -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

ul.nav {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform-style: preserve-3d;
}

.closed ul.nav {
      -webkit-animation-name: fadeOutUp !important;
    animation-name: fadeOutUp  !important;
    -webkit-animation-delay: 0s   !important;
    animation-delay: 0s   !important;
     @include contentFor(normal-screen) {
        -webkit-animation-name: none !important;
        animation-name: none  !important;
    }
}

.open ul.nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 22px;
            -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    @include contentFor(normal-screen) {
        -webkit-animation-name: none;
        animation-name: none;
    }
}

.open ul.nav li {
	display: block !important;
    margin: 25px 0px;
}

.open .volunteerlist {
	order: 2;
}

ul.nav li.facebookmobile {
	@include contentFor(normal-screen) {
		display: none !important;
	}
}

.fbtext {
    @include contentFor(normal-screen) {
        display: none;
    }
    margin-right: 10px;
}

.facebook a:after {
    content:'\0048';
    font-size: 25px !important;
    margin-top: -2px;
    @include contentFor(normal-screen) {
        font-size: 32px !important;
        margin-top: 0px;
    }
    vertical-align: middle;
    color: #3B5998; 
    display: inline-block;
   font-family: 'fnse';
   font-style: normal;
   font-weight: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    speak: none;
   text-transform: none;
}

.open .volunteerlist, .open .reachout {
	margin-top: 15px;
}


/*----------------- Hamburger Animation -----------------*/

/// Credit: https://codepen.io/mblode/pen/evjfn


@mixin btn($left, $top) {
    width: 20px;
    top: $top;
    right: $left;
    transition-duration: 0.5s;
    position: absolute;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 25px;
    background-color: $red;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $red;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $red;
    content: "";
    top: $top;
}

div.menu-link {
    @include btn(20px, 20px);
    @include contentFor(normal-screen) {
         @include btn(20px, 20px);
    }

    .icon {
        filter: none;
        @include icon(4px, 30px);

        &:before {
            @include icon-before(4px, 30px, -10px);
        }

        &:after {
            @include icon-after(4px, 30px, 10px);
        }
    }

    &.open {
        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            }

            &:after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}