.module.sponsorpackage.first {
	margin-top: -40px;
	@include contentFor(normal-screen) {
		margin-top: -250px;
	}
}

.sponsorpackage .more {
	margin-top: 50px;
	text-align: center;
	width: 80%;
}

.sponsorpackage .sponsor_item li {
	width: 90% !important;
	@include flex();
	justify-content: center;
	flex-wrap: wrap;
	padding: 0px;
	margin-left: 0px;
}

.sponsorpackage .sponsor_item p {
	text-align: left;
}

.sponsorpackage .desc {
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	@include contentFor(large-screen) {
		width: 90%;
	}
}

.perk {
	width: 10%;
	margin: 0 auto;
	background-color: $red;
	text-align: center;
	vertical-align: middle;
    align-items:center;
    justify-content:center;
    display: none;
	@include contentFor(large-screen) {
		display: flex;
	}
}

b.perkOrder {
	
}

.perk .perkOrder {
	font-size: 300%;
	color: #FFF;
}

.desc .perkOrder {
	color: $red;
	display: inline-block;
	@include contentFor(large-screen) {
		display: none;
	}
}


.sponsorpackage .moduleCTA {
	margin-top: 25px;
}

.sponsorpackage .sponsor_item li.special_item {
	border: 1px solid $red;
}

.special_item .perk {
	//background-color: $gold;
}