.sponsors ul {
	@include flex();
	justify-content: center;
	padding: 0px;
	margin-left: 0px;
	flex-wrap: wrap;
}

.sponsors li {
	list-style: none;
	margin: 10px;
	width: 30%;

	@include contentFor(large-screen) {
		margin: 40px;
		width: 200px;
	}
}

.sponsors img {
	filter: grayscale(100%);
	width: 100%;
}

.sponsors a:hover img {
	filter: none;
}
