.module.sponsortiers {
	//background-color: #fff;
}

.module.sponsortiers.first {
	@include contentFor(large-screen) {
		margin-top: -250px;
	}
}

ul.sponsor_item {
	@include flex();
	justify-content: center;
	flex-wrap: wrap;
	padding: 0px;
	margin-left: 0px;
}

ul.sponsor_item li {
	list-style: none;
	border-radius: 5px;
	box-shadow: 0 15px 60px rgba(62,62,62,.102);
	padding: 30px;
	width: 90%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #fff;

	@include contentFor(mini-screen) {
		width: 48%;
	}

	@include contentFor(normal-screen) {
		width: 30%;
	}

	@include contentFor(large-screen) {
		
	}

	@include contentFor(xl-screen) {
	}
}

.sponsor_item h4 {
	font-size: 145%;
}


ul.sponsor_item li a.bottom {
	display: block;
	margin: 20px auto 0px auto;
	text-align: center;
	width: 100px;
}

.sponsor_price {
	font-size: 200%;
	color: $red;
	font-weight: bold;
}

a.details {
	font-size: 100%;
	font-weight: normal;
	display: block;
	margin-top: -10px;
	margin-bottom: 15px;
	text-decoration: none;
}

a.details b {
	text-decoration: underline;
}