.sponsors ul {
	@include flex();
	justify-content: center;
	padding: 0px;
	margin-left: 0px;
}

.sponsors li {
	list-style: none;
	margin: 40px;
}

.sponsors img {
	  filter: grayscale(100%);
	  width: 200px;

}

.sponsors a:hover img {
	filter: none;
}
