.module.text_module {
	@include contentFor(large-screen) {
		margin-top: 100px;
	}
}

.module.text_module .content {
	width: 90%;
	margin: 0 auto;

	@include contentFor(normal-screen) {
		width: 1000px;
	}

	@include contentFor(large-screen) {
		width: 90vw;
	}

	@include contentFor(xl-screen) {
		width: 1400px;
	}
}

.module.text_module p {
	line-height: 2em;
	margin-top: 50px;
	@include contentFor(normal-screen) {
		line-height: 2.5em;
	}
}