<ul>
{{ range $index, $el := (sort site.Data.achievements "featured") }}
	<li>
		<div class="tape img-tape--1">
			<img src="{{ $el.image }}" />
			<h4>{{ $el.name }}</h4>
			<p>{{ $el.body }}</p>
		</div>
	</li>
{{ end }}
</ul>

<p>We're always on the lookout for <a href="" class="highlighter">volunteers.</a> If you would like to make Colwich Elementary School, and the local community, a better place, please consider <a href="" class="highlighter">getting involved!</a><br />We would love to have you!</p>

<div class="moduleCTA">
{{ partial "button.html"  (dict "link" "/calendar" "class" "primary" "icon" "dove" "text" "See How You Can Help!") }}
</div>