<section class="module">
	<div class="content">
	  	<h2>2022-2023 Schedule</h2>
		<h3>A Look at What We Have Planned.</h3>
		<ul class="upcoming">
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
			<li>
				<h4>Event Name</h4>
				<p>This is a description about the event we're talking about.</p>
				<a href="/">Learn more</a>
			</li>
		</ul>
	</div>
</section>