<ul>
	{{ $events := where site.RegularPages "Type" "events" }}
	{{ $sortedPosts := (sort $events "Params.event_date" "asc") }}
	{{ range first 12 $sortedPosts }}
		<li>
			<div class="date">
				<span class="month">{{ dateFormat "Jan" .Params.event_date }}</span>
				<span class="day">{{ dateFormat "1" .Params.event_date }}</span>
			</div>
			<h4>{{ .Params.title }}</h4>
			<p>{{ .Params.description }}</p>
			<a href="{{ .Params.url }}">Learn more</a>
		</li>
	{{ end }}
</ul>

<div class="moduleCTA">
<a class="button primary" href="/calendar"><img class="icon" src="/images/icons/calendar.svg" /> View Full 2022-2023 Calendar</a>
</div>
