{{ if $.module.Content }}
	<div class="content_desc">{{ $.module.Content }}</div>
{{ end }}
<ul class="content_list_data">
	{{ $dataSet := index site.Data $.module.Params.data_type }}
	{{ range $index, $el := (sort $dataSet "display_order") }}
		<li {{ if $el.featured  }}class="special_item"{{ end }}>
			<div class="perk">
				{{ if $el.perkOrderDesc  }}
					<b class="perkOrder">{{ $el.perkOrderDesc }}</b>
				{{ else }}
				<b class="perkOrder">{{ add $index 1 }}.</b>
				{{ end }}
			</div>
			<div class="desc">
				<h4>
					<b class="perkOrder">
						{{ if $el.perkOrderDesc  }}
							{{ $el.perkOrderDesc }}
						{{ else }}
							{{ add $index 1 }}.
						{{ end }}
					</b> 
					{{ $el.name}} {{ if $el.featured }}⭐{{ end }}
				</h4>
				<p>{{ $el.body | safeHTML }}</p>
			</div>
			{{ if $el.sponsor_id  }}
				{{ $sponsors := where site.RegularPages "Type" "sponsor" }}
 				{{ range $sponsor := where $sponsors ".Params.sponsor_id" "eq" $el.sponsor_id }}
 					<div class="content_sponsor">
 						<a href="{{ $sponsor.Params.website }}">
 							<img class="{{ $sponsor.Params.custom_class }}" src="/images/sponsors/{{ $sponsor.Params.logo }}" />
 						</a>
 					</div>
 				{{ end }}
 			{{ else if $el.image }}
 				<div class="content_sponsor">
 					<img src="{{ $el.image }}" />
 				</div>
			{{ end }}
		</li>
	{{ end }}
</ul>
