{{ if $.module.Content }}
	<div class="content_desc">{{ $.module.Content }}</div>
{{ end }}
<ul class="content_cards_data">
	{{ $dataSet := index site.Data $.module.Params.data_type }}
	{{ range $index, $el := (sort $dataSet "display_order") }}
		<li {{ if $el.featured  }}class="special_item"{{ end }}>
			{{ if $el.title_attribute }}
				<div class="card_title_attribute">
					<b>{{ $el.title_attribute }}</b>
				</div>
			{{ end }}
			{{ if $el.image }}
				<div class="card_image">
					<img src="{{ $el.image }}" />
				</div>
			{{ end }}
			<h4 class="card_title">
				{{ if $el.detailsLink }}
					<a href="{{ $el.detailsLink }}">{{ $el.title }} {{ $el.icon }}</a>
				{{ else }}
					{{ $el.title }} {{ $el.icon }}
				{{ end }}
			</h4>
			{{ if $el.details }}
				<a class="details" href="{{ $el.detailsLink }}">↣ {{ $el.details }}</a>
			{{ end }}
			<p>{{ $el.description | safeHTML }}</p>
			{{ if $el.ctaText }}
				<a href="{{ $el.ctaLink }}" class="highlighter bottom">{{ $el.ctaText }}</a>
			{{ end }}
		</li>
	{{ end }}
</ul>