<p>To make a donation, just click one of the dollar amounts below to be taken to the checkout page.</p>
<ul>
	<li><a href="https://square.link/u/fMEORcJw?src=embed">$25</a></li>
	<li><a href="https://square.link/u/h85OF2a2">$50</a></li>
	<li><a href="https://square.link/u/fR30SQlv">$100</a></li>
	<li><a href="https://square.link/u/A2UYjpvd">$250</a></li>
	<li><a href="https://square.link/u/PdHM3fyJ?src=embed">Other</a></li>
</ul>
<p>You can also learn how your donation <a href="/donate" class="highlighter">will be used</a>. Another option is to donate <a href="" class="highlighter">directly to teachers</a>, or <a href="/volunteer" class="highlighter">volunteer your time</a>. Thanks for helping us out!</p>
<div class="moduleCTA">
{{ partial "button.html"  (dict "link" "/donate" "class" "primary" "icon" "donate" "text" "Learn More About Donations") }}
</div>