<p>We're grateful for any monetary donation you can provide. To make a donation, just click one of the dollar amounts below to be taken to the checkout page.</p>
<ul>
	<li><a href="">$25</a></li>
	<li><a href="">$50</a></li>
	<li><a href="">$100</a></li>
	<li><a href="">$250</a></li>
	<li><a href="">Other</a></li>
</ul>
<p>You can also learn how your donation <a href="" class="highlighter">will be used</a>. Another option is to donate <a href="" class="highlighter">directly to teachers</a>, or <a href="" class="highlighter">volunteer your time</a>. Thanks for helping us out!</p>
<div class="moduleCTA">
<a class="button primary" href="/calendar"><img class="icon" src="/images/icons/donate.svg" /> Learn More About Donations</a>
</div>