<p>To make a donation, just click one of the dollar amounts below to be taken to the checkout page.</p>
<ul>
	<li><a href="https://square.link/u/fMEORcJw?src=embed"><span>$25</span></a></li>
	<li><a href="https://square.link/u/h85OF2a2"><span>$50</span></a></li>
	<li><a href="https://square.link/u/fR30SQlv"><span>$100</span></a></li>
	<li><a href="https://square.link/u/A2UYjpvd"><span>$250</span></a></li>
	<li><a href="https://square.link/u/PdHM3fyJ?src=embed"><span>Other</span></a></li>
</ul>
<p>You can also learn how your donation <a href="/donate" class="highlighter">will be used.</a> Another option is to donate <a href="https://s3.amazonaws.com/scschoolfiles/833/ces_staff_amazon_wish_list_4.pdf" class="highlighter">directly to teachers,</a> or <a href="/volunteer" class="highlighter">volunteer your time.</a> Thanks for helping us out!</p>
<div class="moduleCTA">
{{ partial "button.html"  (dict "link" "/donate" "class" "primary" "icon" "donate" "text" "Learn More About Donations") }}
</div>