<div class="polaroid">
	{{ range $key, $value := $.page.polaroid }}
		{{ if eq $.page.page_status "comingsoon" }}
			<img src="/images/flyers/ComingSoonWeb.jpg" loading="lazy" alt="Polaroid Images" />
		{{ else }}
			<img src="{{ $value }}" />
		{{ end }}
	{{ end }}
</div>

{{ if $.page.image }}
<div class="flyer">
<img class="heroImg" alt="Hero Image" loading="lazy" src="{{ if eq $.page.page_status "comingsoon" }}/images/flyers/ComingSoonWeb.jpg{{ else }}{{ $.page.image }}{{ end }}" />
</div>
{{ end }}