<div class="social">
	<div class="logo">
		<img src="/images/logos/hsonew.png" />
	</div>
	<ul class="social_links">
		<li><a target="blank" href="https://www.facebook.com/Colwich-Home-and-School-Organization-INC-683568748386201/"><img class="icon" src="/images/icons/facebook.svg" /> Find us on Facebook</a></li>
	</ul>
</div>
<hr />
<div class="footer_lists">
<ul>Get Involved
	<li>Volunteer</li>
	<li>Become a Room Mom</li>
	<li>Our Calendar</li>
	<li>Attend a Meeting</li>
</ul>
<ul>Events
	<li>Carnival</li>
	<li>Parent's Night Out</li>
	<li>Teacher Appreciation</li>
	<li>Elf Store</li>
</ul>
<ul>Forms
	<li>Request for Funds</li>
	<li>Room Mom Application</li>
	<li>Rent the Marquee</li>
	<li>Contact Us</li>
</ul>
<ul>Mailing Address
	<li>Colwich HSO</li>
	<li>123 Main St.</li>
	<li>Colwich, KS 67030</li>
	<li>EIN Number</li>
</ul>
</div>
