<div class="social">
	<div class="logo">
		<img src="{{ $.module.Params.image_url }}" alt="HSO Logo" width="200px"  />
	</div>
	<ul class="social_links">
		<li><a target="blank" href="https://www.facebook.com/Colwich-Home-and-School-Organization-INC-683568748386201/"><img class="icon" src="/images/icons/facebook.svg" alt="Facebook Logo" /> Find us on Facebook</a></li>
	</ul>
</div>
<hr />
<div class="footer_lists">
<ul>
	<li class="listName">Get Involved</li>
	<li><a href="/membership">HSO Membership</a></li>
	<li><a href="/donate">Make a Donation</a></li>
	<li><a href="/calendar">2023-2024 Calendar</a></li>
	<li><a href="/meetings">Attend Our Meetings</a></li>
</ul>
<ul>
	<li class="listName">Programs</li>
	<!--<li><a href="/carnival">Carnival</a></li>-->
	<li><a href="/parentsnight/">Parent's Night Out</a></li>
	<li><a href="/marquee">Rent the Marquee</a></li>
	<li><a href="/sponsor">Become a Sponsor</a></li>
</ul>
<ul>
	<li class="listName">Forms</li>
	<li><a href="/forms/funds">Request for Funds</a></li>
	<li><a href="/forms/volunteer">Volunteer Registration</a></li>
	<li><a href="/forms/contactus">HSO Feedback</a></li>
	<li><a href="/forms/contactus">Contact Us</a></li>
</ul>
<ul>
	<li class="listName">Mailing Address</li>
	<li>Colwich HSO</li>
	<li>401 S. Marian St</li>
	<li>Colwich, KS 67030</li>
	<li>EIN 46-4417245</li>
</ul>
</div>
