<ul>
{{ $dataSet := index site.Data .module.Params.data_type }}
{{ range $index, $el := (sort $dataSet "featured") }}
	<li>
		<div class="tape img-tape--1">
			<img src="{{ $el.image }}" />
			<h4>{{ $el.name }}</h4>
			<p>{{ $el.body | safeHTML }}</p>
		</div>
	</li>
{{ end }}
</ul>

<p>If you would like to help make Colwich Elementary School a better place, please consider <a href="" class="highlighter">getting involved!</a> We would love to have you!</p>

<div class="moduleCTA">
{{ partial "button.html"  (dict "link" "/calendar" "class" "primary" "icon" "dove" "text" "See How You Can Help!") }}
</div>