<ul>
{{ $dataSet := index site.Data .module.Params.data_type }}
{{ range $index, $el := (sort $dataSet "featured") }}
	<li>
		<div class="">
			<img src="{{ $el.image }}" loading="lazy" alt="Image for {{ $el.name }}" />
			<h4>{{ $el.name }}</h4>
			<p>{{ $el.body | safeHTML }}</p>
			{{ if $el.learn_url }}
				<a href="/" class="highlighter bottom">Learn More</a>
			{{ end }}
		</div>
	</li>
{{ end }}
</ul>

{{ if ne .module.Params.hide_cta true }}

	<p>If you would like to help make Colwich Elementary School a better place, please consider <a href="/meetings" class="highlighter">getting involved!</a> We would love to have you!</p>

	<div class="moduleCTA">
	{{ partial "button.html"  (dict "link" "/volunteer" "class" "primary" "icon" "dove" "text" "See How You Can Help!") }}
	</div>

{{ end }}