<div class="faqCardContainer">
	<div class="faqCard">
		<h4>Attendees</h4>
		<p>{{ $.page.attendees }}</p>
	</div>
</div>
<div class="faqCardContainer">
	<div class="faqCard">
		<h4>Call To Order</h4>
		<p>{{ $.page.call_to_order }}</p>
	</div>
</div>
<div class="faqCardContainer">
	<div class="faqCard">
		<h4>Approval of Minutes</h4>
		<p>{{ $.page.minutes_approval | safeHTML }}</p>
	</div>
</div>
<div class="faqCardContainer">
	<div class="faqCard">
		<h4>Meeting Content</h4>
		<p>{{ $.content }}</p>
	</div>
</div>
<div class="faqCardContainer">
	<div class="faqCard">
		<h4>Adjournment Time</h4>
		<p>{{ $.page.adjournment_time }}</p>
	</div>
</div>