{{ $events := where site.RegularPages "Type" "pastevents" }}
{{ $sortedPosts := (sort $events "Params.event_date" "asc") }}
{{ if ( gt ( len $sortedPosts ) 0 ) }}
	<ul>
	{{ range $sortedPosts }}
		<li>
			<div class="date">
				<span class="month">{{ dateFormat "Jan" .Params.event_date }}</span>
				<span class="day">{{ dateFormat "2" .Params.event_date }}</span>
			</div>
			<a href="{{ .Params.url }}">View minutes</a>
		</li>
	{{ end }}
	</ul>
{{ else }}
	<p>Currently, there are no past meeting minutes to view. Please check back.</p>
{{ end }}
