<nav>
	<div class="logo">
		<img src="/images/logos/hsologo.png" />
	</div>
	<ul class="navbar">
		<li><a href="/redesign">Home</a></li>
		<li>
			<div class="dropdown">
			  <a class="dropbtn">Get Involved <span>▼</span></a>
			  <div class="dropdown-content">
			  <a href="/redesign/volunteer">Volunteer Information</a>
			  <a href="/redesign/roommom/">Become a Room Mom</a>
			  <a href="/meetings">Attend Our Meetings</a>
			  <a href="/calendar">2022-2023 Calendar</a>
			  </div>
			</div>
		</li>
		<li>
			<div class="dropdown">
			  <a class="dropbtn">Programs <span>▼</span></a>
			  <div class="dropdown-content">
			  <a href="/carnival">Carnival</a>
			  <a href="/redesign/parentsnight">Parent's Night Out</a>
			  <a href="/redesign/marquee">Rent the Marquee</a>
			  </div>
			</div>
		</li>
		<li>
			<div class="dropdown">
			  <a class="dropbtn">Forms <span>▼</span></a>
			  <div class="dropdown-content">
			  <a href="/forms/funds">Request for Funds</a>
			  <a href="/forms/roommom">Room Mom Application</a>
			  <a href="/forms/sponsor">Become a Sponsor</a>
			  <a href="/forms/feedback">HSO Feedback</a>
			  <a href="/forms/contactus">Contact Us</a>
			  </div>
			</div>
		</li>
		<li><a href="/faq">FAQ</a></li>
	</ul>
	<div class="donate">
		<a href="" class="button primary"><img class="icon" src="/images/icons/donate.svg" /> Donate</a>
	</div>
</nav>