<nav>
	<div class="logo">
		<img src="/images/logos/hsologo.png" />
	</div>
	<ul class="navbar">
		<li>Home</li>
		<li>
			<div class="dropdown">
			  <a class="dropbtn">Get Involved <span>▼</span></a>
			  <div class="dropdown-content">
			  <a href="#">Volunteer Information</a>
			  <a href="#">Become a Room Mom</a>
			  <a href="#">Attend Our Meetings</a>
			  </div>
			</div>
		</li>
		<li>
			<div class="dropdown">
			  <a class="dropbtn">Forms <span>▼</span></a>
			  <div class="dropdown-content">
			  <a href="#">Request for Funds</a>
			  <a href="#">Room Mom Application</a>
			  <a href="#">Parent's Night Out</a>
			  <a href="#">Rent the Marquee</a>
			  <a href="#">Become a Sponsor</a>
			  <a href="#">HSO Feedback</a>
			  <a href="#">Contact Us</a>
			  </div>
			</div>
		</li>
		<li>Calendar</li>
		<li>FAQ</li>
	</ul>
	<div class="donate">
		<a href="" class="button primary">Donate</a>
	</div>
</nav>