<header class="navigation">

	<div class="logo">
		<a href="/">  
			<img src="/images/logos/hsonew.png" />
    	</a>
	</div>

	<nav id="menu" role="navigation" class="closed firstView">
	    <ul class="nav">
    		<li><a href="/redesign">Home</a></li>
			<li class="dropdown">
				  <a class="dropbtn topmenu" href="#">Get Involved <span>▼</span></a>
				  <div class="dropdown-content">
				  	  <a href="#" class="backBtn"><img class="icon" src="/images/icons/back.svg" /> Back</a>
					  <a href="/volunteer">Volunteer Information</a>
					  <!--<a href="/roomparent/">Become a Room Parent</a>-->
					  <a href="/meetings">Attend Our Meetings</a>
					  <a href="/calendar">2022-2023 Calendar</a>
				  </div>
			</li>
			<li class="dropdown">
				  <a class="dropbtn topmenu" href="#">Programs <span>▼</span></a>
				  <div class="dropdown-content">
				  	  <a href="#" class="backBtn"><img class="icon" src="/images/icons/back.svg" /> Back</a>
					  <a href="/carnival">Carnival</a>
					  <a href="/parentsnight/">Parent's Night Out</a>
					  <a href="/marquee">Rent the Marquee</a>
				  </div>
			</li>
			<li class="dropdown">
			  <a class="dropbtn topmenu" href="#">Forms <span>▼</span></a>
			  <div class="dropdown-content">
			  	  <a href="#" class="backBtn"><img class="icon" src="/images/icons/back.svg" /> Back</a>
				  <a href="/forms/funds">Request for Funds</a>
				  <!--<a href="/forms/roomparent">Room Parent Signup</a>-->
				  <a href="/forms/volunteer">Volunteer Registration</a>
				  <a href="/forms/sponsor">Become a Sponsor</a>
				  <a href="/forms/contactus">HSO Feedback</a>
				  <a href="/forms/contactus">Contact Us</a>
			  </div>
			</li>
			<li><a href="/faq" class="topmenu">FAQ</a></li>
			<li class="mobileMenuFB"><a href="https://www.facebook.com/Colwich-Home-and-School-Organization-INC-683568748386201/" target="_blank" rel="noopener"  title="Follow Colwich HSO on Facebook"><img class="icon invertIcon" src="/images/icons/facebook.svg" /><span> Find us on Facebook</a></li>
			<li class="mobileMenuItem"><a href="/donate" ><img class="icon invertIcon" src="/images/icons/donate.svg" /> Donate</a></li>
		 </ul>
	</nav>

	<div class="menu-link">
   		<div class="icon"></div>
  	</div>

	<div class="donate">
		{{ partial "button.html"  (dict "link" "/donate" "class" "primary" "icon" "donate" "text" "Donate") }}
	</div>


</header>
