<ul class="sponsor_item">
	<li>
		<div class="sponsor_price">
			<b>$100</b>
		</div>
		<h4>The Text Package 📋</h4>
		<a class="details" href="">↣ See <b>2</b> Benefits Included</a>
		<p>Have your name included on the sponsor list which can be found on the banner and on the Carnival website.</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
	<li>
		<div class="sponsor_price">
			$250
		</div>
		<h4>The Logo Package 🌅</h4>
		<a class="details" href="">↣ See <b>4</b> Benefits Included</a>
		<p>Upgrade that text to a logo! It will be on display as the main sponsor of one Carnival game or activity.</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
	<li>
		<div class="sponsor_price">
			$500
		</div>
		<h4>The Flag Package 🚩</h4>
		<a class="details" href="">↣ See <b>7</b> Benefits Included</a>
		<p>Staked flags with your logo will line the Carnival entrance. Also includes year round promotion and more!</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
	<li>
		<div class="sponsor_price">
			$1,000
		</div>
		<h4>The Banner Package 🪧</h4>
		<a class="details" href="">↣ See <b>8</b> Benefits Included</a>
		<p>Your name and logo on a dedicated banner in a high traffic area. You'll also be the sponsor of an additional HSO event!</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
	<li>
		<div class="sponsor_price">
			$2,500
		</div>
		<h4>The Carnival Host 🎪</h4>
		<a class="details" href="">↣ See <b>9</b> Benefits Included</a>
		<p>The main sponsor of Carnival! Ensures the highest visibility prior to, and during the event. Includes premium year-long benefits.</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
	<li>
		<div class="sponsor_price">
			$5,000
		</div>
		<h4>The Year Rounder 📣</h4>
		<a class="details" href="">↣ See <b>9</b> Benefits Included</a>
		<p>Sponsor HSO for an entire year! In addition to Carnival placement, you'll be the sponsor of the HSO newsletter, Coin Wars, and more!</p>
		<a href="{{ .url }}" class="highlighter bottom">Purchase!</a>
	</li>
</ul>

