<ul class="sponsor_item">
	{{ $dataSet := index site.Data "packages"}}
	{{ $pageData := .page.data_type }}
	{{ $var := newScratch }}
	{{ range $index, $el := $dataSet }}
		{{ if eq $el.itemType $pageData }}
			{{ $var.Set "package" $el }}
			{{ range $order, $perk := $el.perks }}
				<li {{ if eq $perk.featured "true" }}class="special_item"{{ end }}>
					<div class="perk">
						<b>{{ add $order 1 }}.</b>
					</div>
					<div class="desc">
						<h4>{{ $perk.title}} {{ if eq $perk.featured "true" }}⭐{{ end }}</h4>
						<p>{{ $perk.description | safeHTML }}</p>
					</div>
				</li>
			{{ end }}
		{{ end }}
	{{ end }}
</ul>

<p class="more">If you're intersted in this package, you can purchase online using the button below. We accept payment by check or card. Please have a look at our <a href="#section1">other packages</a> and our sponsor <a href="#section2">FAQ</a> for more inforation.</p>

{{ $packageTitle :=  replace ($var.Get "package").title "The " "" }}
{{ $buttonString := print "Purchase " $packageTitle }}

{{ if eq ($var.Get "package").itemType "raffle" }}
	{{ $buttonString := print "Donate " $packageTitle }}
{{ else }}

{{ end }}

<div class="moduleCTA">
{{ partial "button.html"  (dict "link" ($var.Get "package").formUrl "class" "primary" "icon" "donate" "text" $buttonString) }}
</div>
