<ul class="sponsor_item">
	{{ $dataSet := index site.Data "packages"}}
	{{ range $index, $el := (sort $dataSet "order") }}
		<li>
			<div class="sponsor_price">
				<b>{{ $el.price }}</b>
			</div>
			<h4>{{ $el.title }} {{ $el.icon }}</h4>
			<a class="details" href="{{ $el.learnUrl }}">↣ See <b>{{ len $el.perks }}</b> Benefits Included</a>
			<p>{{ $el.description }}</p>
			<div class="moduleCTA">
			{{ partial "button.html"  (dict "link" $el.formUrl "class" "primary" "icon" "donate" "text" "Purchase") }}
			</div>
			<a href="{{ $el.learnUrl }}" class="highlighter bottom">Learn More</a>
		</li>
	{{ end }}
</ul>

