@import "reset.scss";
@import "mixins.scss";
@import "typography.scss";
@import "animations.scss";

html {
  scroll-behavior: smooth;
}

body {
	background-color: #F2E5C7;	
	padding: 0px;
	margin: 0px;
	position: relative
}


html, body {
  overflow-x: hidden;
}
