$darkRed : #A62C2E;
$lightRed : #E06769;
$red : #C93234;
$gold: #E7BC38;

@import "reset.scss";
@import "mixins.scss";
@import "typography.scss";
@import "animations.scss";
@import "../modules/framework.scss";

html {
  scroll-behavior: smooth;
}

body {
	background-color: #FFF;	
	padding: 0px;
	margin: 0px;
	position: relative
}


html, body {
  overflow-x: hidden;
}
