/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html {
  background-color: #ffffff !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.06) translate(783.33 783.33)'%3E%3Cg stroke='%23C0C0C0' stroke-width='0.1' %3E%3Cpath id='a' fill='%23FFFFFF' d='M50 50h50v50H50zM0 0h50v50H0z'/%3E%3Cuse xlink:href='%23a' x='50' y='-50'/%3E%3Cuse xlink:href='%23a' x='-50' y='50'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  border-radius: 5px;
  box-shadow: 0 15px 60px rgba(62, 62, 62, 0.102) !important;
  margin: 50px auto;
}

#logo {
  background-image: url("https://colwichhso.com/images/logos/hsonew.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 175px;
  padding-top: 100px;
  border-bottom: none !important;
}

#logo a {
  display: none;
}

form.wufoo {
  font-family: "system", serif !important;
  font-size: rem(19px) !important;
  margin-top: 0px !important;
}
@media (min-width: 1000px) {
  form.wufoo {
    padding: 30px !important;
  }
}

header {
  display: none !important;
}

h2 {
  margin-top: 0px !important;
}

h3 {
  margin-top: 0px !important;
}

.section div {
  margin-bottom: 20px !important;
}

.wufoo .buttons {
  width: 100%;
  text-align: center;
}

.wufoo .buttons #saveForm {
  border-radius: 4px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #C93234;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  box-shadow: 0 15px 60px rgba(62, 62, 62, 0.102);
  border: 1px solid #000;
  font-size: 100%;
  float: none;
  font-size: 150%;
}
@media (min-width: 1000px) {
  .wufoo .buttons #saveForm {
    border: 2px solid #000;
  }
}

form.wufoo label span.req, form.wufoo legend span.req {
  color: #C93234 !important;
}

form.wufoo label i, form.wufoo legend i {
  background-color: #F8F8F8;
  padding: 5px 15px;
  border-radius: 4px;
  color: #585858;
  display: inline-block;
  margin-top: 5px;
}

form.wufoo p.error {
  font-size: 15px;
}

.choice__qty {
  padding: 5px 15px;
  font-size: 80% !important;
  border-radius: 4px;
  color: #000 !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty {
  font-size: 80% !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty .notranslate {
  font-size: 80% !important;
  font-weight: bold;
}
