/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
.wufoo header.info {
  display: none;
}

form.wufoo {
  font-family: "system", serif !important;
  font-size: rem(19px) !important;
}
@media (min-width: 1000px) {
  form.wufoo {
    padding: 30px !important;
  }
}

.wufoo .buttons {
  width: 100%;
  text-align: center;
}

.wufoo .buttons #saveForm {
  border-radius: 4px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #C93234;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
  box-shadow: 0 15px 60px rgba(62, 62, 62, 0.102);
  border: 1px solid #000;
  font-size: 100%;
  float: none;
  font-size: 150%;
}
@media (min-width: 1000px) {
  .wufoo .buttons #saveForm {
    border: 2px solid #000;
  }
}

form.wufoo label span.req, form.wufoo legend span.req {
  color: #C93234 !important;
}

form.wufoo label i, form.wufoo legend i {
  background-color: #F8F8F8;
  padding: 5px 15px;
  border-radius: 4px;
  color: #585858;
  display: inline-block;
  margin-top: 5px;
}

form.wufoo p.error {
  font-size: 15px;
}

.choice__qty {
  padding: 5px 15px;
  font-size: 80% !important;
  border-radius: 4px;
  color: #000 !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty {
  font-size: 80% !important;
}

.redesigned-theme-2018 .wufoo li span.choice__qty .notranslate {
  font-size: 80% !important;
  font-weight: bold;
}
