.wufoo .info h2 {
  display: none;
}

.wufoo form {
  padding: 30px;
  font-family: "rubik", serif;
}

@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik/static/Rubik-Regular.ttf");
}
@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik/static/Rubik-Bold.ttf");
  font-weight: bold;
}
